<%- include ../_header %>

<h1 class="display-4"><%=title%></h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" href="#overview"><%-overview.title%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#resp_owner"><%-resp_owner.title%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#resp_other"><%-resp_other.title%></a>
  </li>
 </ul>

 <div class="tab-content">

    <div class="tab-pane active" id="overview" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
			<% for (var i=0; i<overview.comment.length; i++) { %>
                            <p class="card-text"><%-overview.comment[i]%></p>
			<% } %>
                    </div>
                </div>
                <div class="card card-block">
                    <div class="col-sm-12">
			<div class="col-sm-2"></div>
                            <div class="col-sm-8">
				<div class="card card-block">
                                    <img class="w-100" src="/<%-overview.image%>" alt="BJ vdd">
				</div>
                            </div>
			<div class="col-sm-2"></div>
                    </div>
		</div>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="resp_owner" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
			<% for (var i=0; i<resp_owner.comment.length; i++) { %>
                            <p class="card-text"><%-resp_owner.comment[i]%></p>
			<% } %>
                    </div>
                </div>
                <div class="card card-block">
                    <div class="col-sm-12">
			<div class="col-sm-2"></div>
                            <div class="col-sm-8">
				<div class="card card-block">
                                    <img class="w-100" src="/<%-resp_owner.image%>" alt="BJ hierarchy">
				</div>
                            </div>
			<div class="col-sm-2"></div>
                    </div>
		</div>
            </div>
        </div>
    </div>
     
    <div class="tab-pane" id="resp_other" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
			<% for (var i=0; i<resp_other.comment.length; i++) { %>
                            <p class="card-text"><%-resp_other.comment[i]%></p>
			<% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
 </div>

<%- include ../_footer %>


