<%- include ../_header %>

<h1 class="display-4"><%=title%></h1>

<div class="col-sm-12">    
    <div class="card card-block">
        <% for (var i=0; i<comment.length; i++) { %>
            <p class="card-text"><%-comment[i]%>
        <% } %>
    </div> 
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" href="#tuckman"><%-tuckman.stitle%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#conflict"><%-conflict.stitle%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#techniques"><%-techniques.stitle%></a>
  </li>
   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#leadership"><%-leadership.stitle%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#maslow"><%-maslow.stitle%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#xy"><%-xy.stitle%></a>
  </li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="tuckman" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
                        <h4 class="card-title"><%-tuckman.title%></h4>
			<% for (var i=0; i<tuckman.comment.length; i++) { %>
                            <p class="card-text"><%-tuckman.comment[i]%></p>
			<% } %>
                    </div>
                </div>
                <div class="card card-block">
                    <div class="col-sm-12">
			<div class="col-sm-2"></div>
                            <div class="col-sm-8">
				<div class="card card-block">
                                    <img class="w-100" src="/<%-tuckman.image%>" alt="Tuckman">
				</div>
                            </div>
			<div class="col-sm-2"></div>
                    </div>
		</div>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="conflict" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
                        <h4 class="card-title"><%-conflict.title%></h4>
			<% for (var i=0; i<conflict.comment.length; i++) { %>
                            <p class="card-text"><%-conflict.comment[i]%></p>
			<% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="techniques" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
                        <h4 class="card-title"><%-techniques.title%></h4>
			<% for (var i=0; i<techniques.comment.length; i++) { %>
                            <p class="card-text"><%-techniques.comment[i]%></p>
			<% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="leadership" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
                        <h4 class="card-title"><%-leadership.title%></h4>
			<% for (var i=0; i<leadership.comment.length; i++) { %>
                            <p class="card-text"><%-leadership.comment[i]%></p>
			<% } %>
                    </div>
                    <div class="card card-block">
                        <h4 class="card-title"><%-leadership.servant.title%></h4>
			<% for (var i=0; i<leadership.servant.length; i++) { %>
                            <p class="card-text"><%-leadership.servant[i]%></p>
			<% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="maslow" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
                        <h4 class="card-title"><%-maslow.title%></h4>
			<% for (var i=0; i<maslow.comment.length; i++) { %>
                            <p class="card-text"><%-maslow.comment[i]%></p>
			<% } %>
                    </div>
                </div>
                <div class="card card-block">
                    <div class="col-sm-12">
			<div class="col-sm-2"></div>
                            <div class="col-sm-8">
				<div class="card card-block">
                                    <img class="w-100" src="/<%-maslow.image%>" alt="maslow">
				</div>
                            </div>
			<div class="col-sm-2"></div>
                    </div>
		</div>
            </div>
        </div>
    </div>
    
    <div class="tab-pane" id="xy" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <div class="card card-block">
                        <h4 class="card-title"><%-xy.title%></h4>
			<% for (var i=0; i<xy.comment.length; i++) { %>
                            <p class="card-text"><%-xy.comment[i]%></p>
			<% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<%- include ../_footer %>
